/* Table of contents */


/********************/


/*1. Font Faces*/


/*2. Base*/


/*3. Layout*/


/*4. Component*/


/*block*/


/*element*/


/*modifier*/


/*state*/


/*5. Media Queries*/


/*********************************************************************************/


/*FONT FACES*/


/***********/

@font-face {
  font-family: Londrina;
  src: url(../assets/LondrinaSolid-Regular.otf);
}

@font-face {
  font-family: BebasNeue;
  src: url(../assets/BebasNeue.otf);
}


/*BASE*/


/*****/

html {
  font-size: 62.5%;
  --main-blue: #82bcc4;
  --apps-blue: #84bdc4;
  --apps-item-yellow: #f5f1e6;
  --contact-blue: #84babe;
}

body {
  background: #ffffff;
}

h1 {
  font-family: Londrina;
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: BebasNeue;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 10.184rem;
  margin-bottom: 10px;
}

h2 {
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: BebasNeue;
  font-size: 12.9rem;
  font-weight: 400;
  line-height: 10.184rem;
  margin: 0 20px 0 0;
}

h3 {
  max-width: 516px;
  color: #5a9692;
  font-family: BebasNeue;
  font-size: 10.8rem;
  font-weight: 400;
  line-height: 8.612rem;
  margin: 0;
  padding: 0;
}

h4 {
  text-shadow: 0 2px 0 rgba(136, 190, 187, 0.75);
  color: #ffffff;
  font: 400 4.8rem/1.9rem Londrina, Arial, sans-serif;
  margin: 25px 0 0 5%;
  position: absolute;
}

h5 {
  color: #9aac49;
  font-family: Londrina;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.876rem;
  text-transform: uppercase;
  margin: 15px 10px 0 15px
}

h6 {
  max-width: 170px;
  color: #5a9692;
  font-family: Londrina;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.901rem;
  margin: 0;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

li {
  display: inline-block;
}

li::first-letter {
  text-transform: uppercase;
}


/*LAYOUT*/


/*******/

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  position: relative;
  background-image: url(../img/bokeh.png), url(../img/grungy-paint.png);
  background-repeat:  no-repeat, no-repeat;
  background-size:  cover, cover;
  background-color: #83bdc4;
}

.services {
  background-image: url(../img/white.png);
  background-repeat: repeat-y;
  background-color: #ffffff;;
  position: relative;
}

.apps {
  background-color: #84bdc4;
  position: relative;
  padding-bottom: 60px;
  padding-top: 100px;
}

.team {
  background-image: url(../img/backgroundServices.png);
  background-repeat: repeat-y;
  background-color: #ffffff;
  position: relative;
}

.contact {
  background-color: #7dbabe;
  padding-top: 60px;
}

footer {
  content: "";
  background-image: url(../img/paper-background.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 119px;
  max-width: 100%;
  background-color: #83bcc2;
}

.team__divider-background {
  position: absolute;
  bottom: -40px;
}


/*COMPONENT*/


/**********/


/*block*/


/******/

.nav__list {
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 73px;
  margin: 0;
}
.nav__stickybar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  z-index: 3;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__text {
  padding-left: 10px;
  margin-left: auto;
  z-index: 1;
}

.services article {
 z-index:2;
 margin-right: 2%;
}

.apps__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.apps__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*    overflow: hidden;*/
}

.apps__item {
  width: 289px;
  height: 265px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f5f1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 1;
}

.team__member {
  max-width: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 62px;
  z-index: 1;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  width: 505px;
}

.services__blockCenter {
  max-width: 78%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.news__post {
  max-width: 398px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  background-image: url(../img/background.png);
  border-radius: 5px;
  margin-bottom: 13px;
  position: relative;
}

.contact__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 51px;
}

.contact__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/*element*/


/********/

.nav__item {
  height: 73px;
  width: 70px;
}

.icon-menu {
  display: none;
  color: #ffffff;
  font-size: 2.0rem;
  margin: 17px;
  padding: 6px 4px 4px 4px;
  border: 1px solid #ccecff;
}

.header__image {
  position: absolute;
  margin: 105px 0 0 10%;
  max-width: 303px;
  height: auto;
  overflow: hidden;
}

.header__image-item {
  margin-bottom: -50px;
}

.header__paragraph {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #224e59;
  font-family: Arial;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding-right: 6%;
  max-width: 591px;
  margin-bottom: 46px;
}

.header__background {
  position: absolute;
  opacity: .25;
}

.btn {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: Londrina;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  border: 1px solid #4d453e;
  background-color: #e74c48;
  opacity: 0.95;
  border-radius: 4px;
}

.services__titles {
  font-family: Londrina;
  font-size: 22px;
  font-weight: 400;
  line-height: 19px;
  color: #5a9692;
}

.services__titles:first-of-type::before {
  content: "";
  display: inline-block;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  margin-right: 9px;
  width: 28px;
  height: 35px;
  background-position: bottom
}

[data-icon="tools"]::before {
  background-image: url(../img/tools-icon.png);
}

[data-icon="innovation"]::before {
  background-image: url(../img/innovation-icon.png);
}

[data-icon="love"]::before {
  background-image: url(../img/love-icon.png);
}

[data-icon="phone"]::before {
  background-image: url(../img/phone-icon.png);
}

[data-icon="games"]::before {
  background-image: url(../img/game-icon.png);
}

.services__description {
  max-width: 278px;
  height: 79px;
  color: #7e7e7e;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.services__twitter {
  background-image: url(../img/bubble.png);
  background-repeat: no-repeat;
  background-position: top center;
  width: 248px;
  height: 98px;
  padding: 16px 11px 32px 13px;
  margin-top: 51px;
  position: relative;
  color: #518582;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

.services__twitter::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(../img/twitter-icon.png);
  background-repeat: no-repeat;
  bottom: 20px;
  left: 0;
  width: 28px;
  height: 28px;
}

.services__twitter-text {
  padding: 0 5%;
  margin: -2px;
}

.apps__header-description {
  width: 459px;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #ffffff;
}

.apps__placeholder {
  width: 100px;
  height: 100px;
  margin: 15px auto 15px auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.75);
  border: 1px solid #f2b857;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffbb4a), to(#ffd972));
  background-image: linear-gradient(to top, #ffbb4a 0%, #ffd972 100%);
  border-radius: 15px;
}

.apps__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.apps__title{
  padding-top: 10px;
}

.apps__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.apps__description {
  max-width: 146px;
  max-heidht: 100px;
  color: #7e7e7e;
  font-family: Arial;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team__placeholder {
  width: 155px;
  min-width: 155px;
  height: 155px;
  -webkit-box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.5);
  border: 14px solid #65989b;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #629094;
  box-shadow: 0 0 0 2px #629094;
  margin-right: 24px;
  margin-bottom: 8px;
}

.team__position {
  max-width: 190px;
  color: #9aac49;
  font-family: Londrina;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.901rem;
  margin: 4px 0 4px 0;
}

.team__description {
  max-width: 248px;
  height: 91px;
  color: #7e7e7e;
  font-family: Arial;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}


.contact__title {
  max-width: 517px;
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: BebasNeue;
  font-size: 8.8rem;
  font-weight: 400;
  line-height: 7.055rem;
}

.contact__info {
  width: 403px;
  text-shadow: 0 1px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: Arial;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="email"] {
  max-width: 100%;
  height: 55px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #4790a2;
  background-color: #ffffff;
  margin-bottom: 14px;
  margin-right: 15px;
  padding-left: 1rem;
  font-size: 1.6rem;
}

input[type="number"] {
  width: 65px;
  height: 55px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #4790a2;
  background-color: #ffffff;

}

textarea {
  max-width: 100%;
  height: 185px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #4790a2;
  background-color: #ffffff;
  margin-bottom: 14px;
  margin-right: 15px;
  font-family: Arial;
  font-size: 1.6rem;
  line-height: 1.304rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 0.5;
  color: #7f7367;
  font-family: Arial;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.304rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 0.5;
  color: #7f7367;
  font-family: Arial;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.304rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: #7f7367;
  font-family: Arial;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 1.304rem;
}

textarea::-webkit-input-placeholder {
  padding-top: 2rem;
}

textarea:-ms-input-placeholder {
  padding-top: 2rem;
}

textarea::placeholder {
  padding-top: 2rem;
}

input[type="number"]{
  font-size: 1.6rem;
  text-align: center;
}

input[type="number"]::-webkit-input-placeholder {
  padding: 2rem;
}

input[type="number"]:-ms-input-placeholder {
  padding: 2rem;
}

input[type="number"]::placeholder {
  padding: 2rem;
}

input[type="submit"]{
  margin-right: 3%;
}

.form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__captcha {
  /* Style for "While we d" */
  max-width: 135px;
  text-shadow: 0 1px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: 700;
  margin-right: auto;
  padding: 0 5px 0 5px;
}

.news__post-body {
  max-width: 361px;
  color: #7e7e7e;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.29px;
  padding: 0 10px 20px 10px;
}

.news__post-title {
  padding: 10px 0 0 10px;
}

.news__post-date {
  color: #959595;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7.29rem;
  position: absolute;
  top: 10px;
  right: 1.0rem;
  margin: 0;
}

.news__pagination {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.footer__copyright {
  width: 143px;
  color: #5a9692;
  font-family: Londrina;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  padding: 60px 0 0 20px;
}

.footer__nav {
  width: 230px;
  height: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #5a9692;
  font-family: Arial;
  font-size: 10px;
  font-weight: 700;
  margin: 0;
  padding-left: 20px;
  padding-left: 20px;
}

.footer__nav-item {
  position: relative;
  margin-right: 8px;
}

.footer__nav-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 10px;
  border: 1px solid #5a9692;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 25px;
  margin-top: -10px;
  position: absolute;
}

.button-up {
  background-color: #dae3ae;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  color: #f5f1e6;
  font-family: Londrina;
  font-size: 4.9rem;
  font-weight: 400;
  line-height: 9rem;
  text-align: center;
  position: relative;
  position: fixed;
  right: 7%;
  bottom: 150px;
  cursor: pointer;
}

.button-up::before {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 21px;
  top: 3px;
  left: 25px;
  background-image: url(../img/shape-68.png);
}

.divider__background {
  position: absolute;
  bottom: -45px;
  z-index: 1
}















/*modifier*/


/*********/

.toUppercase {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}

.blockCenter {
  max-width: 78%;
  margin: 0 auto;
}


.header__text--small {
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  font-size: 72px;
}

.btn--big {
  width: 180px;
  height: 51px;
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
}

.btn--medium {
  width: 130px;
  height: 53px;
  font-size: 30px;
  font-weight: 400;
  line-height: 28.69px;
}

.btn--normal {
  width: 90px;
  height: 41px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.91px;
}

.btn--arrow {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.btn--arrow::after {
  content: "";
  position: absolute;
  display: block;
  width: 72px;
  height: 92px;
  background-image: url(../img/arrow.png);
  top: -50px;
  right: -100px;
}

.apps__text--small {
  text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
  color: #ffffff;
  font-family: BebasNeue;
  font-size: 4.3rem;
  font-weight: 400;
  line-height: 4.06rem;
}

.team__title--small {
  max-width: 203px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.178rem;
  color: #5a9692;
}

.contact__title--small {
  font-size: 42px;
  line-height: 5.915rem;
}

.pagination--color {
  color: #4e7d7f;
}


/*state*/
.team .blockCenter {
  width: 900px;
}

/******/

.is-active {
  background-image: url(../img/active-indicator.png);
  background-repeat: repeat-x;
}

.is-mobile {
  display: block;
  top: 11px;
  right: -2px;
  background-color: #83bdbf;

}









/* nav animation */

.nav__item, .btn {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.nav__item:before, .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 7, 7,.1);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav__item:hover,.btn:hover,
.nav__item:focus,.btn:focus,
.nav__item:active,.btn:active {
  color: white;
  cursor: pointer;
}

.nav__item:hover:before,
.nav__item:focus:before,
.nav__item:active:before,.btn:hover:before,
.btn:focus:before,
.btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.left {
  font-size: 25px;
  cursor: pointer;
}


/*MEDIA QUERIES*/


/**************/

@media screen and (max-width: 563px){
  .team__members {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .team__member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .team__info {
    margin-top: 10px;
  }
}

@media screen and (max-width: 620px){
  .header__text {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 890px) {
  .button-up {
    display: none;
  }
  h4 {
    left: -10px
  }

}
@media screen and (max-width: 952px){
  .services__description {
    max-width: 460px;
  }
}

@media screen and (max-width: 950px) {
  .header__image {
    opacity: .7;
  }
}

@media screen and (max-width: 1050px) {
  header li {
    display: none;
  }
  .icon-menu {
    display: block;
    cursor: pointer;
  }
  .nav__stickybar {
    min-width: 100%;
  }
}


@media screen and (min-width: 952px) and (max-width: 1137px) {
  .services__description {
    max-width: 350px;
  }
}

@media screen and (max-width: 1143px){
  .team__description, .team__member {
    max-width: 95%;
  }
}

@media screen and (max-width: 1178px){
  .contact__info {
    width: 517px;
  }
}

@media screen and (max-width: 1184px){
  form {
    width: 100%;
  }
  .button-up {
    right: 1%;
  }
}
